
@{
    ViewBag.Title = "AdDegistirmeTamam";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="text-center">
    <h3>Kullanici Adınız başarıyla Değiştirilmiştir Yeni Adınız @ViewBag.Ad</h3>
    <p>5 saniye içinde Anasayfaya Yönlendirileceksiniz</p>

</div>
<script>
    setTimeout(function () {
    window.location.href = "@Url.Action("KullaniciHome", "Kullanici")";

    },10000)

</script>
