
@{
    ViewBag.Title = "HaberDetay";
    Layout = "~/Views/Shared/_ZiyaretciLayout.cshtml";
}



<div class="text-center" style="margin:0px 100px 0px 100px">
    <h3>@ViewBag.Baslik</h3>
    <p>@ViewBag.Icerik</p>
    <h4>@ViewBag.Yazar - @ViewBag.Tarih</h4>
</div>
<div class="text-center">
    <label>Yorum yapmak için Üye olun <a class="btn btn-success" href="/Kullancı/Ekle">Üye Ol</a></label>
</div>
