
@{
    ViewBag.Title = "HaberPaylas";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>HaberPaylas</h2>

<div class="text-center">
    <h3>Merhaba @ViewBag.Ad ne haberler var </h3>
</div>

<div class="container">
    <form action="@Url.Action("HaberPaylas","Haber")" method="post">
        @Html.AntiForgeryToken()
        <label for="baslik">Başlık:</label>
        <input type="text" name="_baslik" id="baslik" class="form-control" />
        <label for="icerik">Haber</label>
        <textarea class="form-control" id="icerik" name="_icerik" rows="5"></textarea>
        <div class="text-center" style="margin-top:20px;">
            <button type="submit" class="btn btn-success">Gönder</button>
        </div>
    </form>
</div>



