
@{
    ViewBag.Title = "HaberDetay";
    Layout = "~/Views/Shared/_ZiyaretciLayout.cshtml";
}

<h2>HaberDetay</h2>

<div class="text-center">
    <h3>@ViewBag.Baslik</h3>
    <p>@ViewBag.Icerik</p>
    <h4>@ViewBag.Yazar - @ViewBag.Tarih</h4>
</div>

