
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div style="margin-left:400px;">
<h2>Blog Sayfama Hoşgeldiniz</h2>
</div>
<div>
    <a class="btn btn-success" href="/Kullanici/Login">Kullanıcı Girişi</a>
    <a class="btn btn-danger" href="/Admin/Login">Admin Girişi</a>
</div>

