
@{
    ViewBag.Title = "Kurallar";
    Layout = "~/Views/Shared/_ZiyaretciLayout.cshtml";
}

<div class="text-center">
    <h2>Kurallar</h2>
    <p>Bu sitemizde 3.şahıslara sövmek,kutsal değerlere sövmek,ortak suç kabul edilen insanlık dışı suçlar çevirmek ve yapanları savunmak ve sitemizi zora sokmak yasaktır.Bunun dışında yeni eklenecek özelliklerimizle sitemiz gelişecek ve inanılmaz bir platforma dönüşecektir bilginize</p>
</div>

