
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page404</title>
</head>
<body>
    <div>
        <h2>Burası 404 sayfasıdır niye hata yaptınız</h2>

    </div>
</body>
</html>
