
@{
    ViewBag.Title = "ZiyaretciIletisim";
    Layout = "~/Views/Shared/_ZiyaretciLayout.cshtml";
}

<div class="text-center">
    <h3 class="display-3">Sayın kullanıcı Adminle iletişme geçmek için canncizmeci@gmail.com adresinden ulaşabilirsiniz</h3>
</div>

