@model adminTabani_01_05_24.Models.Tartisma
@{
    ViewBag.Title = "TartismaDetay";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>TartismaDetay</h2>
<p>@Model.Baslik</p>
<p>@Model.icerik</p>
<p>@Model.KullaniciAd</p>
<p>@Model.tarih</p>

