
@{
    ViewBag.Title = "SiirYaz";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>SiirYaz</h2>

<div class="text-center">
    <h4>Merhaba @ViewBag.Ad şiir yazmak ister misiniz</h4>
</div>

<div class="container">
    <form action="@Url.Action("SiirYaz","Siir")" method="post">
        @Html.AntiForgeryToken()
        <label for="baslik">Başlık:</label>
        <input type="text" name="_baslik" id="baslik" class="form-control" />
        <label for="icerik">Şiir:</label>
        <textarea rows="5" type="text" name="_icerik" id="icerik" class="form-control"></textarea>
        <div class="text-center" style="margin-top:20px;">
            <button class="btn btn-success" type="submit">Gönder</button>
        </div>
    </form>
</div>

