
@{
    ViewBag.Title = "IcerikSec";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<style>
    .containerim{
        float:left;

    }

</style>



<div class="containerim">
    <a href="#">
        <div>

        </div>
    </a>


</div>

