
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>KayitHatasi</title>
</head>
<body>
    <div>
        <h1>@ViewBag.Mesaj</h1>
        <a href="/Kullanici/Ekle" class="btn btn-success">Kayıt sayfasına dönün</a>
    </div>
</body>
</html>
