
@{
    ViewBag.Title = "KullaniciHome";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="text-center">
    <h4><i>Hoşgeldin @ViewBag.Ad Bu gün nasılsın</i></h4>
</div>
<div class="text-center">

    <div >
        <h5>Son Tartışmalar</h5>
        <table>
            <thead>
                <tr>
                    <td>Tartişma Başlık</td>
                </tr>
            </thead>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>
    <div >
        <h5>Son Yazılar</h5>
    </div>
    <div>
        <h5>Son Haberler</h5>
    </div>
    <div >
        <h5>Son Şiirler</h5>
    </div>
    <div >
        <h5>Son Resimler</h5>
    </div>

</div>
