
@{
    ViewBag.Title = "AdminMesaj";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


@if (TempData["MesajGonder"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["MesajGonder"]
    </div>
    <script>
        setTimeout(function () {
            window.location.href='@Url.Action("KullaniciHome", "Kullanici")';
        }, 3000)
    </script>
}
<div container mt-5>
    <h2 class="mb-4">Mesajınızı Yazın</h2>
    <form action="/Mesaj/AdminMesaj" method="post">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <input type="text" class="form-control" id="mesaj" name="icerik">
        </div>
        <button type="submit" class="btn btn-primary">Gönder</button>
    </form>
</div>

