
@{
    ViewBag.Title = "KullaniciMesaj";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<div container mt-5>
    <h2 class="mb-4">Mesajınızı Yazın</h2>
    <form action="/Mesaj/KullaniciMesaj" method="post">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <label for="_icerik">Mesaj:</label>
            <textarea rows="5" class="form-control" id="_mesaj" name="mesaj"></textarea>
        </div>
        <input type="hidden" name="Alici_id" value="@ViewBag.AliciId" />
        <button type="submit" class="btn btn-primary">Gönder</button>
    </form>
</div>
